@model List<HotelierProject.EntityLayer.Concrete.AppRole>
@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-xs mb-0">
    <thead>
        <tr>
            <th>#</th>
            <th>Rol Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/Role/DeleteRole/@item.Id" class="btn btn-danger">Sil</a>
                    <a href="/Role/UpdateRole/@item.Id" class="btn btn-success">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Role/AddRole/" class="btn btn-info mt-2"><i class="icon-user-follow"></i>Yeni Role</a>