@model HotelierProject.WebUI.Dtos.RoleDto.UpdateRoleDto
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-body">
    <h4 class="card-title">Yetki Güncelle</h4>
    <div class="basic-form">
        <form method="post">
            <div class="form-group">
                <label>Rol Adı</label>
                <input type="hidden" asp-for="Id" />
                <input type="text" asp-for="Name" class="form-control input-rounded">
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Güncelle</button>
        </form>
    </div>
</div>

